body {
    margin: 0;
    height: 100vh; /*viewport units: vw vh */
  }
  
  .container {
    border: 2px solid red;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
  }
  
  img{
    position:absolute;
    margin: auto;
    right:0;
    left:0;
    top:0;
    bottom:0;
  }
  
  .option-2 {
    display: flex;
    allign-items: center;
    justify-content:center;
  }
  
  
  img:hover {
    outline: red 6px;
  }
